* {
  padding: 0;
  margin: 0;
  align-items: center;
  box-sizing: border-box;
  font-family: 'Times New Roman';
}
#smartwatch {
  width: 205px;
  height: 250px;
  border-radius: 35px;
  text-align: center;
  color: black;
  background-color: #F8485E;
  border-top: 15px solid black;
  border-bottom: 15px solid black;
}
#body {
  background-color: white;
  margin: 10%;
  border-radius: 20%;
  height: 80px;
}
.icons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-top: 30px;
  font-size: large;
}

.message {
  border-radius: 60px;
  height: fit-content;
  width: 80%;
}

/* * {
  padding: 0;
  margin: 0;
  align-items: center;
  box-sizing: border-box;
  font-family: 'Times New Roman';
}
#smartwatch {
  width: 220px;
  height: 250px;
  border-radius: 35px;
  text-align: center;
  color: white;
  background-color: black;
  border-top: 15px solid grey;
  border-bottom: 15px solid grey;
}
#body {
  background-color: white;
  margin: 10%;
  border-radius: 15%;
  height: fit-content;
}
.icons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-top: 50px;
  font-size: large;
}

.message {
  border-radius: 60px;
  height: fit-content;
  width: 80%;
} */